html {
  overflow-y: scroll; 
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.dashboard {
  padding: 20px;
}

.note-card {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-custom {
  font-family: "Space Mono", monospace;
    border-bottom: 1px solid #ddd;
}

.dashboard-content {
  font-family: "Space Mono", monospace;
}

